ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

body {
    margin: 0px;
}

.logo {
    height: 70px;
}

.mainButton {
    background-color: #92C43C;
    color: white;
    border: 1px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 2px 2px green;
}

.mainButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}